@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--ff-primary: 'Inter', sans-serif;

	--color-light: #ffffff;
	--color-dark: #000000;
	--color-lightgray: lightgray;
	--color-destructive: #f64352;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: var(--ff-primary);
	font-weight: 400;
}

h1,
p {
	margin: 0;
	padding: 0;
}

.title {
	font-weight: 400;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 4em 3em;
	align-items: flex-start;
}

.value-container {
	color: var(--color-lightgray);
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--color-lightgray);
}

.value {
	color: var(--color-light);
}

.error {
	color: var(--color-destructive);
}

.button-container {
    width:100%;
	display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
	padding: 0.5em 1em;
	width: 100%;
    max-width: 150px;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    border:1px solid var(--color-light);
}

.btn-dark {
    background-color: var(--color-dark);
    color: var(--color-lightgray);
    border-color: var(--color-lightgray);
}

